DATABASE_URL=postgresql://manga_user:manga_password@postgres:5432/manga_collection?schema=public
JWT_SECRET=troque-por-uma-string-grande-e-aleatoria
NEXTAUTH_SECRET=troque-por-uma-string-grande-e-aleatoria
NEXTAUTH_URL=http://localhost:3000
GOOGLE_BOOKS_API_KEY=
NODE_ENV=production
